#cookie-consent {
    text-align: center;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: rgba(0, 0, 0, 0.9);
    color:#fff;
    z-index:99999;    
}

#cookie-content {
    padding: 20px 0px;
}

#aceptar-cookies {
    color: green;
    cursor: pointer;
}

