# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
#RewriteBase /

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

## EXPIRES CACHING ## 
#<IfModule mod_expires.c>
# ExpiresActive On
# ExpiresByType text/css "access 1 month"
# ExpiresByType text/x-javascript "access 1 month"
# ExpiresDefault "access 1 month"
#</IfModule>
## EXPIRES CACHING ##

## CACHE-CONTROL ##
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
 Header set Cache-Control "max-age=2592000, public"
</filesMatch>
## CACHE-CONTROL ##

## ACCEPT-ENCODING ##
<IfModule mod_headers.c>
  <FilesMatch ".(js|css|xml|gz|html)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>
## ACCEPT-ENCODING ##