body {
    padding-top: 50px; /* because of the fixed navbar */                 
}

.navbar-brand {
    padding: 6px 15px; 
}

.jumbotron {
    background: url("../images/cielo.jpg") no-repeat;
    color: floralwhite; 
}

.justify {
    text-align: justify;
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}
.row-content {
    margin: 0px auto;
    min-height: 400px;
    padding: 50px 0px;    
}

.row-footer
{
    background-color: #AfAfAf;   
    font-size:larger;
    margin: 0px auto;
    padding: 0px 0px; 
}